[submodule "themes/hugo-theme-pure"]
	path = themes/hugo-theme-pure
	url = https://github.com/xiaoheiAh/hugo-theme-pure.git
[submodule "public"]
	path = public
	url = https://github.com/HadesD/ChickenAuto.git
	branch = gh-pages
